@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: "Gothic";
  src: url("../src/fonts/gothic.ttf");
}
@font-face {
  font-family: "Macan";
  src: url("../src/fonts/Macan-Stencil-Trial-Regular.otf");
}
@font-face {
  font-family: "SFPro";
  src: url("../src/fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "Coolvetica";
  src: url("../src/fonts/coolvetica\ rg.ttf");
}

body {
  background-color: #F5F5F7
}
