@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@font-face {
  font-family: "Gothic";
  src: url("../src/fonts/gothic.ttf");
}
@font-face {
  font-family: "Macan";
  src: url("../src/fonts/Macan-Stencil-Trial-Regular.otf");
}
@font-face {
  font-family: "SFPro";
  src: url("../src/fonts/SFPRODISPLAYREGULAR.OTF");
}
